@import './../common/index';
@import './../components/spinner-icon';
@import './../components/status';
@import './../components/campaign';
@import './../components/pm-pagination';
@import '~vue2-dropzone/dist/vue2Dropzone.min.css';

#registration {
    .page-header {
        text-align: center;
    }
    .page-icon {
        margin: 20px;
        margin-left: auto;
        margin-right: auto;
        font-size: 8rem;
    }
}