@import './../common/index';
@import './../components/spinner-icon';
@import './../components/status';
@import './../components/campaign';
@import './../components/pm-pagination';

#user-view {
    .card {
        border: none;
        .nav-tabs .nav-link {
            background-color: $brand-purple;
            color: #fff;
            border: none;
            height: 100%;
            padding: 0.7rem 2rem;
            border-radius: 0;
        }
        .nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
            background-color: $brand-blue;
            color: #fff;
            border: none;
            height: 100%;
            padding: 0.7rem 2rem;
            border-radius: 0;
        }
    }
    .card-header {
        padding: 0;
        .nav {
            margin: 0;
            border: none;
            background-color: #fff;
        }
    }
    .filter--v-select.v-select .vs__selected-options {
        border: 1px solid #ddd;
    }
    .loader-spinner {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 100;
        background-color: rgba(255, 255, 255, 0.2);
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .campaign-group-label {
        font-size: 1.4rem;
        font-weight: bold;
        margin-top: 2rem;
        margin-bottom: 1rem;
    }
    .pm-pagination {
        margin-bottom: 2rem;
    }
    @include media-breakpoint-up(lg) {
        padding: 20px 30px 20px 30px;
    }
}
