@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

.wrapper--campaign-index {
  padding: 20px;
  background-color: #fff;
  .pmt-col {
    span {
      margin-left: 10px;
    }
    svg {
      height: 1.2rem;
    }
  }
  @include media-breakpoint-up(lg) {
    .pmt {
      display: table;
      width: 100%;
      table-layout:fixed;
      &-row {
        display: table-row;
      }
      &-col {
        display: table-cell;
        opacity: 1;
        border-bottom: 3px solid #fff;
        border-right: 3px solid #fff;
        vertical-align: middle;
        &:last-child {
          border-right: 0;
        }
        &.options-col {
          width: 90px;
        }
        &.dealership-col, &.agency-col {
          width: 140px;
        }
        &.recipients-col, &.phone-responses-col, &.email-responses-col, &.text-responses-col {
          width: 80px;
          padding-left: 2px;
          padding-right: 2px;
        }
        &.name-col {
          width: auto;
        }
      }
    }
  }
  @include media-breakpoint-up(xl) {
    .pmt-col {
      &.dealership-col, &.agency-col {
        width: 15%;
      }
      &.recipients-col, &.phone-responses-col, &.email-responses-col, &.text-responses-col {
        width: 8%;
      }
    }
  }
}