@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

.list-campaign-container {
  .campaign-resume {
    &--container {
      display: flex;
      flex-flow: row;
      align-items: stretch;
      flex-grow: 1;
    }
    &--status {
      display: flex;
      align-items: center;
      justify-content: center;
      flex: 2;
    }
    &--title {
      display: flex;
      flex-flow: column;
      flex: 6;
      font-size: 1rem;
      span {
        font-weight: 300;
        margin-top: 5px;
      }
    }
    @include media-breakpoint-up(lg) {
      width: 45%;
    }
  }
  .campaign-asset {
    text-align: center;
    @include media-breakpoint-up(lg) {
      width: 15%;
    }
  }
  .campaign-date {
    flex-flow: column;
    font-size: 1rem;
    text-align: center;
    &--value {
      font-weight: bold;
      font-size: 1.1em;
    }
    @include media-breakpoint-up(lg) {
      width: 15%;
    }
  }
  .campaign-chart {
    &--container {
      display: flex;
      flex-flow: row;
    }
    &--chart {
      flex-grow: 1;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    &--labels {
      padding-left: 10px;
      margin-left: 20px;
      flex-grow: 1;
      span {
        position: relative;
        display: block;
        padding-left: 10px;
        font-size: 13px;
        &::after {
          content: '';
          position: absolute;
          width: 10px;
          height: 10px;
          border-radius: 50%;
          left: -10px;
          top: 50%;
          margin-top: -5px;
        }
        &.sms::after {
          background-color: rgb(76, 83, 91);
        }
        &.call::after {
          background-color: #fff;
        }
        &.email::after {
          background-color: rgb(101, 108, 116);
        }
      }
    }
    @include media-breakpoint-up(lg) {
      width: 25%;
    }
  }
}