/node_modules
/public/hot
/public/storage
/storage/*.key
/public/js
/public/css
/public/img
/vendor
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.phpunit.result.cache
