node_modules/
storage/*.key
vendor/
!public/index.php
!public/.htaccess
!public/robots.txt
!public/web.config
public/
.idea/
.vscode/
.vagrant/
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.phpunit.result.cache
