@import "../../../../sass/variables";
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

$aside-width: 400px;

.campaign-recipients--container {
  margin-bottom: 40px;
  .pmt-col {
    @include media-breakpoint-up(lg) {
      padding: 15px;
    }
  }
  .recipient-name {
    &--container {
      display: flex;
      width: 100%;
      @include media-breakpoint-up(sm) {
        width: auto;
      }
    }
    &--data {
      flex-grow: 5;
      small {
        display: block;
        font-weight: 300;
      }
    }
    &--icon {
      padding: 0 20px 0 10px;
      flex-grow: 1;
    }
    &--id {
      margin-top: 12px;
    }
    svg {
      height: 42px;
      width: 35px;
      line-height: 1em;
    }
    @include media-breakpoint-up(lg) {
      width: 30%;
    }
  }
  .recipient-stats{
    &1, &2 {
      text-align: center;
      @include media-breakpoint-up(lg) {
        width: 25%;
      }
    }
    &--container {
      display: inline-flex;
      flex-flow: column;
      text-align: left;
    }
    &--stat {
      margin-bottom: 5px;
      svg {
        height: 1.4rem;
        margin-right: 10px;
      }
      span {
        display: inline-block;
        width: 80px;
        margin-right: 10px;
      }
    }
  }
  .recipient-options {
    flex-flow: column;
    text-align: center;
    .btn-action {
      border: 1px solid $gray;
      border-radius: 0;
    }
    .options-group {
      margin-top: 10px;
      .btn {
        padding: 8px;
        margin-right: 20px;
        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
}
