@import "../../../../sass/variables";
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

$aside-width: 400px;

.stats {
  .chart {
    &--container {
      margin-bottom: 40px;
    }
    &--title {
      h2 {
        margin: 0;
        @include media-breakpoint-up(sm) {
          float: left;
        }
      }

      small {
        font-size: 0.9rem;
        @include media-breakpoint-up(sm) {
          float: right;
        }
      }
    }
    &--chart {
      border: 1px solid #000;
      height: 150px;
      margin-top: 10px;
    }
  }
}
