@import './variables';

.card-header {
  margin-bottom: 40px;
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-evenly;
    @include media-breakpoint-up(md) {
      flex-flow: row;
    }
    li {
      width: 100%;
      margin-bottom: 10px;
      @include media-breakpoint-up(md) {
        margin: 0;
        width: unset;
      }
      a {
        width: 100%;
        text-align: center;
        padding: 10px 25px;
        color: #fff;
        background-color: $brand-blue;
        border-radius: 5px;
        text-decoration: none;
        transition: background-color 100ms linear;
        display: inline-block;
        &.active, &:hover {
          background-color: $brand-purple;
        }
      }
    }
  }
}
.nav-tabs .nav-link {
  color: $brand-black;
  padding: 15px 25px;
  border-radius: 5px 5px 0 0;
  &.active {
    background-color: $brand-purple;
    color: #fff;
  }
}