
// Body
$body-bg: #f8fafc;

// Top Navigation
$top-navigation-bar-height: 60px;

// Typography
$font-family-sans-serif: "Nunito", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66D9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

$gray: rgb(76, 83, 91);
$red: rgb(248, 66, 88);
$gray-light: rgb(225, 229, 232);
$wrapper-content-sm: 400px;
$wrapper-aside-lg: 350px;
$wrapper-aside-xl: 400px;

$form-control-height: calc(2rem + 2px);

// Brand colors
$brand-black: #20004A;
$brand-purple: #572E8D;
$brand-blue: rgb(103, 167, 204);
$brand-gray: #4b525b;
$brand-white: #edf0f5;
$brand-yellow: #e7f386;
