// Bootstrap
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/utilities";
@import "~bootstrap/scss/root";
@import "~bootstrap/scss/reboot";
@import "~bootstrap/scss/type";
@import "~bootstrap/scss/grid";
@import "~bootstrap/scss/forms";
@import "~bootstrap/scss/buttons";
@import "~bootstrap/scss/badge";
@import "~bootstrap/scss/dropdown";
@import "~bootstrap-vue/es/components/dropdown/dropdown.css";
@import '~vue-good-table/dist/vue-good-table.css';
@import './date-pick.scss';
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700');
@import "variables";
@import "./event-calendar";

// pages
@import "./common/datatable";

body, html {
  height: 100%;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 14px;
  color: $gray;
}
body {
  //display: flex;
  //flex-flow: column;
  &.open {
    #wrapper {
      .wrapper-aside {
        transform: translate(0, 0);
      }
      .wrapper-content {
        transform: translate($wrapper-content-sm, 0);
      }
    }
  }
}
#main-header {
  background-color: #ddd;
  width: 100%;
  .logo {
    display: block;
    float: left;
    text-align: center;
    height: 60px;
    width: 100%;
    line-height: 60px;
    img {
      height: 40px;
    }
    @include media-breakpoint-up(lg) {
      width: 100px;
    }
  }
  .navbar {
    &-menu-extra {
      float: right;
    }
    .sidebar-toggle {
      float: left;
      background-color: transparent;
      background-image: none;
      padding: 10px 10px;
      height: 40px;
      @include media-breakpoint-up(lg) {
        display: none;
      }
    }
    .nav {
      list-style: none;
      margin: 0;
      padding: 0;
      li {
        float: left;
        padding-right: 15px;
        padding-left: 15px;
        .btn.btn-link {
          padding: 5px;
          height: 40px;
          border: none;
          background-color: transparent;
          outline: none;
          cursor: pointer;
          @include media-breakpoint-up(lg) {
            height: 60px;
          }
        }
        img {
          height: 25px;
        }
        &.menu-item-profile {
          font-weight: 300;
          margin-right: 10px;
          .btn.btn-link {
            line-height: 24px;
            padding-top: 8px;
            color: $gray;
            text-decoration: none;
          }
          img {
            float: right;
            width: 30px;
            height: 30px;
            border-radius: 50%;
            margin-left: 10px;
            margin-top: -2px;
          }
        }
      }
    }
  }
}
#wrapper {
  height: 100%;
  position: relative;
  overflow-x: hidden;
  //.wrapper-aside {
  //  background: $gray;
  //  padding: 30px;
  //  min-height: calc(100vh - 60px);
  //  color: #fff;
  //  transform: translate(-100%);
  //  position: absolute;
  //  top: 0; left: 0;
  //  z-index: 100;
  //  width: 100%;
  //  transition: transform .3s ease-in-out,width .3s ease-in-out;
  //  &--content {
  //    padding: 20px 0;
  //  }
  //  .calendar-filters {
  //    display: flex;
  //    align-items: center;
  //    justify-content: space-evenly;
  //    color: #fff;
  //    font-size: 14px;
  //  }
  //  @include media-breakpoint-up(sm) {
  //    width: $wrapper-content-sm;
  //  }
  //  @include media-breakpoint-up(lg) {
  //    width: $wrapper-aside-lg;
  //    transform: none;
  //  }
  //  @include media-breakpoint-up(xl) {
  //    width: $wrapper-aside-xl;
  //  }
  //}
  //.wrapper-content {
  //  padding: 10px;
  //  transform: translate(0, 0);
  //  transition: transform .3s ease-in-out,margin .3s ease-in-out;
  //  @include media-breakpoint-up(md) {
  //    padding: 20px 30px;
  //  }
  //  @include media-breakpoint-up(lg) {
  //    margin-left: $wrapper-aside-lg;
  //    transform: none;
  //  }
  //  @include media-breakpoint-up(xl) {
  //    margin-left: $wrapper-aside-xl;
  //  }
  //}
  .campaign {
    margin-bottom:20px;
    .campaign-collapsable {
      max-height: 0;
      width: 100%;
      transition: max-height 200ms, opacity 150ms;
      overflow: hidden;
      opacity: 0;
      > .row {
        height: 100%;
      }
      @include media-breakpoint-up(xl) {
        max-height: 500px;
        opacity: 1;
      }
    }
    &.open .campaign-collapsable {
      max-height: 500px;
      opacity: 1;
    }
    .campaign-resume {
      display: flex;
      flex-flow: column;
      header {
        background-color: $gray;
        padding: 30px;
        display: flex;
        flex-flow: row;
        align-items: center;
        justify-content: center;
        color: #fff;
        border-bottom: 4px solid #fff;
        cursor: pointer;
        @include media-breakpoint-down(lg) {
          border-bottom: 4px solid #fff;
        }
      }
      &--status {
        position: relative;
        flex-grow: 1;
        width: 40px;
        &::after {
          content: '';
          position: absolute;
          background-color: rgb(116, 220, 59);
          border: 2px solid #fff;
          border-radius: 50%;
          width: 17px;
          height: 17px;
          top: 50%;
          margin-top: -10px;
          left: 50%;
          margin-left: -10px;
        }
      }
      &--title {
        display: flex;
        flex-flow: column;
        flex-grow: 3;
        span {
          font-weight: 300;
        }
      }
      &--data {
        padding: 20px;
        background-color: $gray-light;
        flex-grow: 1;
        &-info p {
          margin: 0;
        }
        &-assets {
          text-align: center;
          img {
            height: 60px;
          }
          p {
            margin: 0;
          }
        }
        @include media-breakpoint-down(lg) {
          border-bottom: 4px solid #fff;
        }
      }
    }
    .campaign-date {
      background-color: $gray-light;
      padding: 20px 30px 10px 30px;
      border-bottom: 4px solid #fff;
      border-left: none;
      &--date {
        display: flex;
        font-size: 13px;
        &-label {
          width: 40%;
          font-weight: 300;
        }
        &-value {
          width: 60%;
          font-weight: 600;
        }
      }
      .day-left {
        display: flex;
        flex-flow: column;
        align-items: center;
        .date-label {
          text-align: center;
          font-size: 13px;
          margin-top: 1.5rem;
          line-height: 1rem;
        }
        .date-value {
          text-align: center;
          font-size: 7rem;
          font-weight: 300;
          line-height: 1em;
        }
      }
      @include media-breakpoint-up(md) {
        border-bottom: none;
        border-right: 2px solid #fff;
      }
      @include media-breakpoint-up(xl) {
        border-left: 4px solid #fff;
      }
    }
    .campaign-chart {
      background-color: $gray-light;
      padding: 10px;
      border-left: none;
      &--charts {
        text-align: center;
        img {
          height: 55px;
        }
      }
      &--labels {
        padding-left: 10px;
        span {
          position: relative;
          display: block;
          padding-left: 10px;
          font-size: 13px;
          &::after {
            content: '';
            position: absolute;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            left: -10px;
            top: 50%;
            margin-top: -5px;
          }
          &.sms::after {
            background-color: rgb(76, 83, 91);
          }
          &.call::after {
            background-color: #fff;
          }
          &.email::after {
            background-color: rgb(101, 108, 116);
          }
        }
      }
      @include media-breakpoint-up(md) {
        border-left: 2px solid #fff;
      }
    }
    .campaign-button-block {
      display: flex;
      flex-flow: column;
      align-items: center;
      justify-content: center;
    }
    &.inactive {
      font-size: 13px;
      .campaign-resume {
        header {
          padding: 20px;
          border-bottom: none;
          @include media-breakpoint-down(lg) {
            border-bottom: 4px solid #fff;
          }
        }
        &--status {
          &::after {
            background-color: $red;
          }
        }
      }
      .campaign-date {
        padding: 0;
        > .row {
          height: 100%;
        }
        &--asset {
          border-right: 2px solid #fff;
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          img {
            height: 50px;
          }
          @include media-breakpoint-down(md) {
            padding: 20px;
          }
        }
        &--date {
          border-left: 2px solid #fff;
          flex-flow: column;
          align-items: center;
          justify-content: center;
          &-label {
            text-align: center;
            font-size: 1.2rem;
          }
          &-value {
            text-align: center;
            font-size: 1rem;
          }
          @include media-breakpoint-down(md) {
            padding: 20px;
          }
        }
        @include media-breakpoint-up(md) {
          border-right: none;
        }
      }
      .campaign-chart {
        border-left: none;
        @include media-breakpoint-up(md) {
          border-top: 4px solid #fff;
        }
        @include media-breakpoint-up(lg) {
          border-top: none;
          border-left: 4px solid #fff;
        }
      }
    }
  }
}

h3 {
  font-weight: bold;
  margin-bottom: 1rem;
  font-size: 1.5rem;
}