@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700');
// Base Code
@import "variables";
@import "mixins";
// Libraries
// Bootstrap
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/utilities";
@import "~bootstrap/scss/root";
@import "~bootstrap/scss/reboot";
@import "~bootstrap/scss/type";
@import "~bootstrap/scss/grid";
@import "~bootstrap/scss/forms";
@import "~bootstrap/scss/buttons";
@import "~bootstrap/scss/badge";
@import "~bootstrap/scss/nav";
@import "~bootstrap/scss/card";
@import "~bootstrap/scss/dropdown";
@import "~bootstrap/scss/nav";
@import "~bootstrap/scss/navbar";
// Bootstrap Vue
@import "~bootstrap-vue/es/components/dropdown/dropdown.css";
@import '~vue-good-table/dist/vue-good-table.css';
// Custom Components
@import './date-pick.scss';
@import './event-calendar';
@import './pm-font';
@import './tabs';
@import './datepicker';
@import './pm-buttons';
// Global Styles
@import "./common/datatable";
@import "./common/top-navbar";
@import "./common/sidebar";

.pm-form-group {
    margin-bottom: 2rem;

    label {
        font-size: 0.9rem;
    }
}

.form-control {
    height: $form-control-height;
    border: none;
}

.pm-datatable {
    margin-top: 25px;

    table.vgt-table {
        border-collapse: separate;
        border: none;

        &.bordered td, &.bordered th {
            border: none;
            padding: 8px 15px;
            font-size: 0.9rem;
            background-image: none;
        }

        thead th, thead td {
            background-color: darken(rgb(225, 229, 232), 10%);
            cursor: pointer;
            font-weight: 600;
        }

        tr:nth-child(even) td {
            background-color: rgb(225, 229, 232);
        }

        tr:nth-child(odd) td {
            background-color: rgb(240, 242, 243);
        }
    }

    .vgt-wrap__actions-footer {
        border: none;
    }
}