.status-component {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: row;
  .status-icon {
    border: 2px solid $brand-white;
    border-radius: 50%;
    width: 17px;
    height: 17px;
    &.active {
      background-color: rgb(116, 220, 59);
    }
    &.inactive {
      background-color: rgb(248, 66, 88);
    }
  }
  .status-value {
    line-height: 1em;
    margin-left: 8px;
  }
}