.dashboard .card, .dashboard .panel {
  height: -webkit-calc(100% - 30px);
  height:         calc(100% - 30px);
  margin-bottom: 30px;
}

.dashboard .card-block {
  border-radius: 3px;
}

#widgetLineareaOne .ct-chart .ct-area {
  fill-opacity: 1;
}

#widgetLineareaOne .ct-chart .ct-series.ct-series-a .ct-area {
  fill: #7986cb;
}

#widgetLineareaTwo .ct-chart .ct-area {
  fill-opacity: 1;
}

#widgetLineareaTwo .ct-chart .ct-series.ct-series-a .ct-area {
  fill: #ffd54f;
}

#widgetLineareaThree .ct-chart .ct-area {
  fill-opacity: 1;
}

#widgetLineareaThree .ct-chart .ct-series.ct-series-a .ct-area {
  fill: #4dd0e1;
}

#widgetLineareaFour .ct-chart .ct-area {
  fill-opacity: 1;
}

#widgetLineareaFour .ct-chart .ct-series.ct-series-a .ct-area {
  fill: #81c784;
}

#widgetJvmap path {
  fill: #c5cae9;
}

#widgetCurrentChart .ct-chart .ct-series.ct-series-a .ct-bar {
  stroke: #fff;
  stroke-width: 3%;
}

#widgetCurrentChart .ct-chart .ct-series.ct-series-b .ct-bar {
  stroke: rgba(232, 234, 246, .4);
  stroke-width: 3%;
}

#widgetCurrentChart .ct-chart .ct-label {
  font-size: 14px;
  color: #fff;

  fill: #fff;
}

#widgetCurrentChart > div {
  position: relative;
}

#widgetCurrentChart > div .btn-floating {
  position: absolute;
  top: 0;
  right: 20px;
  -webkit-transform: translate(0%, -50%);
      -ms-transform: translate(0%, -50%);
       -o-transform: translate(0%, -50%);
          transform: translate(0%, -50%);
}

#widgetUserList .card-header .overlay-background {
  background-color: rgba(103, 58, 183, .8);
}

@media (max-width: 479px) {
  #widgetUserList .card-header .avatar {
    width: 80px;
  }
}

#widgetUserList .card-block {
  position: relative;
  height: auto;
}

#widgetUserList .card-block .list-group-item {
  padding-top: 15px;
  padding-bottom: 15px;
}

#widgetUserList .card-block .list-group-item .media-body {
  vertical-align: bottom;
}

#widgetUserList .card-block .list-group-dividered .list-group-item:last-child {
  border-bottom: none;
}

#widgetUserList .card-block .btn-floating {
  position: absolute;
  top: 0;
  right: 20px;
  -webkit-transform: translate(0%, -50%);
      -ms-transform: translate(0%, -50%);
       -o-transform: translate(0%, -50%);
          transform: translate(0%, -50%);
}

#chat .card-header {
  border-bottom: none;
}

#chat .card-header > * {
  padding: 0 30px;
  margin: 0;
  line-height: 50px;
}

#chat .card-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 0 20px;
  margin-bottom: 20px;
  border-top: none;
}

#projects .table > thead > tr > td,
#projects .table > tbody > tr > td,
#projects-status .table > thead > tr > td,
#projects-status .table > tbody > tr > td {
  vertical-align: middle;
}

html,body {
    height: 100%;
}
body.animsition,
body.site-navbar-small
{
    padding-top: 4.3rem;
}
@media(min-width: 767px) {
    .site-navbar-small .site-navbar .navbar-brand {
        min-width: 180px;
    }
}
.site-navbar {
    border-bottom: 1px solid #878787;
}
.nav-link > i {
    padding-right: 5px;
}
.site-footer {
    background: #083756;
    border-top: 1px solid #cdcdcd;
}
.site-footer a {
    color: rgb(123, 163, 193);
}
@media(min-width: 767px) {
    @if (\Auth::user()->access != 'Client')
    .page {
        padding-top: 50px;
    }
    @endif
    .site-navbar {
        border-bottom: 1px solid #969696;
    }
}

a#drops-nav-link {
    padding-top: 19px;
    padding-bottom: 19px;
}
@media (max-width: 768px) {
    a#drops-nav-link {
        padding-top: 6px;
        padding-bottom: 10px;
    }
}

.page {
    /* Background pattern from Subtle Patterns
        (https://www.toptal.com/designers/subtlepatterns/) */
    background: #333 url('/images/triangular.png') center center repeat;
}
.page-title {
    font-family: "Archivo Narrow", "Open Sans", sans-serif;
    color: #fff;
    text-shadow: 2px 2px 8px #202020;
}
.page-header {
    padding: 15px 30px;
}
.site-menubar {
    background: #083756;
    border-bottom: 1px solid #e5e5e5;
}
.panel {
    box-shadow: 2px 2px 10px #555;
}
.site-menu-item > .dropdown-menu {
    border: 0.5px solid #ddd;
    border-top: 0px;
    border-radius: 0 0 4px 4px;
    background-color: #083756;
    color: #efefef;
    margin-top: -1px;
    box-shadow: 1px 1px 3px #333;
}
table.dataTable thead .sorting:after,
table.dataTable thead .sorting_desc:after,
table.dataTable thead .sorting_asc:after {
    display: none
}
.deleteBox .sa-button-container {
    display: flex;
    justify-content: space-around;
}
.deleteBox .confirm.btn-primary {
    background-color: #a93f30;
    border-color: #893829;
}
.deleteBox .cancel {
    background-color: #418551;
    border-color: #33663a;
    color: #fff;
}
.select2-container .select2-selection--single {
    height: inherit;
    padding: 6px 0;
    border-color: #e0e0e0;
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
    min-height: 40px;
}
.dropdown-menu {
    z-index: 9000;
}
.v-center {
    vertical-align: middle !important;
}
.change-company-selector form {
    display: block;
    padding: 0 15px;
    line-height: 3.572rem;
    white-space: nowrap;
    cursor: pointer;
    top: 0;
    left: 0;
}
.change-company-selector form select {
    display: inline-block;
}
