@import '../../../sass/variables';

.status-component {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: row;
  .status-icon {
    background-color: rgb(116, 220, 59);
    border: 2px solid #fff;
    border-radius: 50%;
    width: 17px;
    height: 17px;
  }
  .status-value {
    line-height: 1em;
    margin-left: 8px;
  }
}