@import '../../../sass/variables';

.pmt {
  $rootParent: &;
  margin-top: 15px;
  &-row {
    $tableRow: &;
    display: flex;
    flex-flow: column;
    &:nth-child(even) #{$rootParent}-col:not(.manager) {
      background-color: rgb(225, 229, 232);
    }
    &:nth-child(odd) #{$rootParent}-col:not(.manager) {
      background-color: rgb(240, 242, 243);
    }
  }
  &-col {
    font-size: 0.8rem;
    opacity: 0;
    max-height: 0;
    padding-left: 0.8rem;
    padding-right: 0.8rem;
    transition: max-height 100ms linear, opacity 100ms linear, padding 100ms linear;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    &.manager {
      cursor: pointer;
      background-color: $gray;
      color: $gray-light;
    }
    @at-root {
      #{$rootParent}-row.open &, #{$rootParent}-row &.manager, #{$rootParent}-row &.manager-footer {
        padding-top: 0.6rem;
        padding-bottom: 0.6rem;
        border-bottom: 3px solid #fff;
        max-height: 1000px;
        opacity: 1;
      }
    }
  }
}