.pm-btn {
  font-size: 0.8rem;
  display: inline-flex;
  align-items: center;
  padding: 5px 15px 5px 10px;

  svg {
    height: 15px;
    width: 15px;
  }

  span {
    margin-left: 5px;
  }

  &-blue {
    @include button-variant($brand-blue, $brand-blue);
    color: #fff !important;
  }

  &-purple {
    @include button-variant($brand-purple, $brand-purple);
    color: #fff !important;
  }
}
.pm-btn-link {
  border: none;
  background-color: transparent;
  &-danger {
    color: $red;
    &:hover {
      color: darken($red, 15%);
    }
  }
  &-warning {
    color: $orange;
    &:hover {
      color: darken($orange, 15%);
    }
  }
}