.company-data {
  padding: 2rem;
  text-align: center;

  &--image {
    width: 130px;
    height: 130px;
    background-color: #fff;
    border-radius: 50%;
    margin: 1rem 0;
    display: inline-block;
  }

  h3 {
    line-height: 1em;
    margin: 0;
    font-size: 1.2rem;
    color: #fff;
    margin-bottom: 0.8rem;
  }
}

.company-navigation {
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-size: 0.9rem;

  ul {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      padding-right: 30px;
      padding-left: 30px;
      margin-bottom: 10px;
    }

    a {
      padding: 12px;
      border: none;
      background-color: transparent;
      outline: none;
      cursor: pointer;
      border-radius: 5px;
      display: flex;
      height: 100%;
      align-items: center;
      color: $brand-white;
      text-decoration: none;
      text-transform: uppercase;

      &.active, &:hover {
        background-color: $brand-white;
        color: $brand-purple;
      }

      .fa {
        font-size: 1.25em;
        width: 40px;
      }
    }
  }

  .pm-font-companies-icon {
    font-size: 1.25em !important;
  }

  [class^="pm-font-"], [class*=" pm-font-"], [class^="far"] {
    font-size: 1.5em;
    width: 40px;
  }
}
