@import './../components/date-pick';

.vdpCell.selectable.selected .vdpCellContent {
    color: #fff;
    background: #7485c2;
}

button.disabled {
    cursor: not-allowed;
}

.slideout {
    &.communication-side-panel {
        width: 100%;
        @include media-breakpoint-up(sm) {
            width: 80%;
        }
        @include media-breakpoint-up(md) {
            width: 65%;
        }
        @include media-breakpoint-up(lg) {
            width: 50%;
        }
        @include media-breakpoint-up(xl) {
            width: 40%;
        }
        max-width: 600px;
    }

    .close-comms-panel {
        position: fixed;
        right: 15px;
        z-index: 5000;
        border: 1px #fff solid;
    }

    .content {
        display: none;

        &.show {
            display: block;
        }

        .filter--v-select {
            padding: 0;
        }

        .audio-player {
            background-color: #f0f0f0;
            padding: 15px;
            border: 1px solid #ddd;
            width: 100%;
            border-radius: 10px;
            margin: 8px;
        }

        div.labels-wrapper {
            background-color: #e0e0e0;
            padding: 12px;

            ul.labels {
                list-style: none;
                padding: 0;
                margin-bottom: 0;

                > li {
                    display: inline-block;
                    margin: 2px 4px;
                    padding: 2px 8px;
                    border-radius: 4px;
                    font-size: 1rem;

                    &.not_interested,
                    &.heat,
                    &.car_sold,
                    &.wrong_number {
                        color: #fff;
                        background-color: #f44336;
                    }

                    &.appointment,
                    &.callback,
                    &.interested,
                    &.service {
                        color: #fff;
                        background-color: #4caf50;
                    }

                    > i {
                        float: right;
                        margin-left: 8px;
                        line-height: 22px;
                        cursor: pointer;
                    }
                }
            }
        }

        .notes-wrapper {
            .form-group:first-of-type {
                margin-bottom: 2px;
            }
        }

        .recipient-action {
            padding: 1px 6px;
            cursor: inherit;
            border-radius: 2px;
        }

        .mail-attachments {
            .list-group {
                list-style: none;
                padding: 0;
            }
        }

        .call-in-wrapper {
            > ul {
                list-style: none;
                padding-left: 0;
            }
        }

        #add-appointment-form {
            margin-top: 5px;
            padding: 8px;
            border: 1px solid #e0e0e0;

            div {
                div {
                    label {
                        display: block;
                    }
                }
            }

            div {
                div {
                    #appointment_date.mx-datepicker.form-control {
                        border: 0;
                        padding: 0;
                    }
                }
            }
        }

        .panel {
            position: relative;
            margin-bottom: 1.875rem;
            background-color: #fff;
            border: 0 solid transparent;
            border-radius: .286rem;
            box-shadow: 2px 2px 10px #555;

            .panel-heading {
                position: relative;
                padding: 0;
                border-top-left-radius: .214rem;
                border-top-right-radius: .214rem;
                border: none;
                color: #fff;
                background-color: #3f51b5;

                .panel-title {
                    display: block;
                    padding: 20px 30px;
                    margin-top: 0;
                    margin-bottom: 0;
                    font-size: 18px;
                    color: #fff;
                }
            }

            .panel-body {
                padding: 12px;
                background-color: #ffffff;
                display: flex;
                flex-direction: column;

                .outbound-message {
                    text-align: right;
                    align-self: flex-end;
                }

                .message-wrapper {
                    padding: 6px;
                    width: 100%;

                    .message-time {
                        font-family: 'Operator Mono', 'Source Sans Pro', Menlo, Monaco, Consolas, Courier New, monospace;
                        font-size: 10px;
                        letter-spacing: .2em;
                        color: #4d4d4d;
                        margin: 0 8px;

                        &.outbound-message {
                            margin-left: auto;
                        }
                    }

                    .message {
                        padding: 12px 20px;
                        border-radius: 8px;
                        width: 80%;
                        text-align: left;

                        &.inbound-message {
                            background-color: #0b96e5;
                            border: 1px solid #9cc2ff;
                            color: #fff;
                            text-align: left;
                            align-self: flex-start;
                            margin-left: 0;
                        }

                        &.outbound-message {
                            margin-left: auto;
                            background-color: #eee;
                            color: #333;
                            border-color: #efefef;
                            margin-right: 0;
                        }
                    }

                }

        .message-wrapper {
          &.outbound-message {
            margin-left: auto;
          }
        }

        #sms-form,
        #email-form {
          margin-top: 20px;
        }

                #sms-message,
                #email-message {
                    border-top-right-radius: 0;
                    border-bottom-right-radius: 0;
                }

                .input-group {
                    position: relative;
                    display: -webkit-box;
                    display: -webkit-flex;
                    display: -ms-flexbox;
                    display: flex;
                    width: 100%;

                    .input-group-btn {
                        font-size: 0;
                        position: relative;
                        white-space: nowrap;

                        .btn {
                            margin-left: -1px;
                            background-color: #3f51b5;
                            border-color: #3f51b5;

                            > i {
                                line-height: inherit;
                                width: 1em;
                                margin: -1px 3px 0;
                                text-align: center;
                            }
                        }
                    }
                }
            }
        }
    }

    .message-drop-text {
        background-color: rgb(216, 222, 248);
        color: $brand-purple;
        border-bottom: 1px solid $brand-white;
        padding: 0.8rem 1.5rem;
        font-size: 0.9em;
    }
}
