@import './../common/index';
@import "./communication-side-panel";
@import './../components/spinner-icon';

.sidebar-toggler {
  border-radius: 5px;
  background-color: #67a7cc;
  border-color: #67a7cc;
  color: #fff !important;
}

#sidebar-nav-content {
  padding: 3rem 1rem;

  ul {
    list-style: none;
    padding: 0;
    margin: 0;

    li {
      margin-bottom: 5px;
    }

    a {
      text-decoration: none;
      color: #fff;
      padding: 10px 8px;
      display: block;
      line-height: 1.1rem;

      &.active {
        background-color: rgba(255, 255, 255, 0.1);
      }

      > i {
        display: inline;
        padding-left: 4px;
        margin-right: 10px;
        font-size: 1.4em;
      }

      > .counter {
        float: right;
        background-color: #ffffff;
        border-radius: 6px;
        color: #67A6CC;
        min-width: 30px;
        text-align: center;
        font-weight: bold;
      }
    }
  }

  > h4 {
    text-transform: uppercase;
    font-size: 1.2em;
    padding-left: 8px;
    font-weight: bold;
    color: #ffffff;
  }

  > hr {
    background-color: #ffffff;
    margin-top: 40px;
  }
}

#console {
  padding: 1rem;

  #recipients-list {
    max-width: 1024px;

    .row {
      cursor: pointer;
      background-color: #ffffff !important;
      text-align: left;
      border: none;
      margin-bottom: 4px;
      padding-top: 8px;
      padding-bottom: 8px;

      @include media-breakpoint-up(lg) {
        min-height: 56px;
      }

      .name-wrapper {
        margin-bottom: .4rem;
      }

      .label-wrapper {
        > span {
          border: 1px solid #333;
          color: #808080;
          display: inline-block;
          font-size: 10px;
          padding: 1px 6px;
          border-radius: 3px;
          margin: 2px;

          &.not_interested,
          &.heat,
          &.car_sold,
          &.wrong_number {
            border: 1px solid rgb(172, 29, 19);
            color: rgb(172, 29, 19);
            // background-color: #f44336;
          }

          &.interested,
          &.service {
            border: 1px solid #5b6;
            color: #5b6;
            // background-color: #4caf50;
          }
        }
      }
    }
  }

  .input-group {
    .input-group-prepend {
      position: relative;
      top: 28px;
      left: 15px;
      color: #67A6CC;
      width: 24px;
      height: 24px;
    }
  }

  a.icon {
    display: inline-block;
    text-align: center;

    > img {
      width: 25px;
      object-fit: contain;
    }
  }

  /* Clearable text inputs */
  .search-wrapper {
    height: 28px;

    .clearable {

      > input[type=text] {
        padding-right: 24px;
        width: 100%;
        box-sizing: border-box;
      }

      > .clearable__clear {
        font-style: normal;
        font-size: 1.4em;
        user-select: none;
        cursor: pointer;
        position: relative;
        float: right;
        right: 10px;
        vertical-align: middle;
        bottom: 30px;
        display: none;

        &.show {
          display: inline-block;
        }
      }
    }
  }

  .loader-spinner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    background-color: rgba(255, 255, 255, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
