@import './../common/variables';
/////////////////////////////
// Plugin
// Bootstrap
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/utilities";
@import "~bootstrap/scss/root";
@import "~bootstrap/scss/reboot";
@import "~bootstrap/scss/type";
@import "~bootstrap/scss/forms";
@import "~bootstrap/scss/buttons";
@import "~bootstrap/scss/card";

@import "./../components/spinner-icon";

body, html {
    height: 100%;
}

body {
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 100%;
}

.card {
    width: 300px;
    border: none;
    border-radius: 0;
    color: $brand-black;
    background-color: #fff;
    overflow: hidden;
    padding: 0.5rem;
}

.card-body {
    padding: 1rem;
    border: 2px solid $brand-purple;
}

.logo {
    text-align: center;
    margin-bottom: 1rem;
    img {
        height: 50px;
    }
}

.sk-circle {
    width: 20px;
    height: 20px;
    .sk-child:before {
        background-color: #fff;
    }
}

.text-primary {
    margin-bottom: 1rem;
    font-size: 0.7rem;
    text-align: center;
    color: $brand-black !important;
}

form {
    label {
        font-size: 0.75rem;
    }
    .form-control {
        font-size: 0.7rem;
        border-radius: 0;
        padding: 0.5rem;
        background: #fff;
        background-image: none;
    }
    .btn {
        background-color: $brand-purple;
        border-color: $brand-purple;
        border-radius: 0;
        &:hover, &:focus, &:disabled, &:active {
            background-color: lighten($brand-purple, 10%);
            border-color: $brand-purple;
        }
    }
}
.text-danger {
    margin-bottom: 0.5rem;
    font-size: 0.7rem;
    text-align: center;
}

[v-cloak] { display: none; }
[v-cloak]::before { content: "loading..."; }
