@import "./communication-side-panel";

.wrapper-content {
  .pmt-row {
    cursor: pointer;

    .pmt-col {
      background-color: #ffffff !important;
      height: 40px;
      text-align: center;
      border-bottom-color: #E8EBF2;
      border-width: 6px;
      border-right: none;
      border-left: none;
      border-top: none;

      @include media-breakpoint-up(lg) {
        height: 56px;
      }
    }
  }

  .btn {
    background-color: #67A6CC;
    color: #ffffff;
    line-height: 2;
  }

  .input-group {
    .input-group-prepend {
      position: relative;
      top: 28px;
      left: 15px;
      color: #67A6CC;
      width: 24px;
      height: 24px;
    }

    input.form-control {
      border-color: #67A6CC;
      padding-left: 45px;
      border-width: 2px;
      border-radius: 10px;
    }
  }

  a.icon {
    display: inline-block;
    text-align: center;

    > img {
      width: 25px;
      object-fit: contain;
    }
  }
}