.slideout {
  &.communication-side-panel {
    width: 50%;
  }

  .content {
    display: none;

    &.show {
      display: block;
    }

    .audio-player {
      background-color: #f0f0f0;
      padding: 15px;
      border: 1px solid #ddd;
      width: 100%;
      border-radius: 10px;
      margin: 8px;
    }
  }
}