@import './../common/index';
@import "./communication-side-panel";

#sidebar-nav-content {
  padding: 2rem 1rem;

  ul {
    list-style: none;
    padding: 0;
    margin: 0;

    li {
      margin-bottom: 5px;
    }

    a {
      text-decoration: none;
      color: #fff;
      padding: 10px 8px;
      display: block;
      line-height: 1.4em;

      &.active {
        background-color: rgba(255, 255, 255, 0.1);
      }

      > i {
        display: inline;
        padding-left: 4px;
        margin-right: 10px;
        font-size: 1.4em;
      }

      > .counter {
        float: right;
        background-color: #ffffff;
        border-radius: 6px;
        color: #67A6CC;
        min-width: 30px;
        text-align: center;
        font-weight: bold;
      }
    }

    //&.filter,
    //&.media-type {
    //  > li {
    //    > a {
    //
    //      //&:before {
    //      //  content: '';
    //      //  display: inline;
    //      //  height: 1em;
    //      //  width: 1em;
    //      //  background-size: contain;
    //      //  background-repeat: no-repeat;
    //      //  background-position: center;
    //      //  padding-left: 2em;
    //      //  margin-right: 10px;
    //      //}
    //
    //      > .counter {
    //        float: right;
    //        background-color: #ffffff;
    //        border-radius: 6px;
    //        color: #67A6CC;
    //        min-width: 30px;
    //        text-align: center;
    //        font-weight: bold;
    //      }
    //    }
    //  }
    //}

    //&.filter {
    //  > li.all {
    //    > a {
    //      &:before {
    //        background-image: url('../../img/icons/all.png');
    //      }
    //    }
    //  }
    //
    //  > li.unread {
    //    > a {
    //      &:before {
    //        background-image: url('../../img/icons/unread.png');
    //      }
    //    }
    //  }
    //
    //  > li.idle {
    //    > a {
    //      &:before {
    //        background-image: url('../../img/icons/idle.png');
    //      }
    //    }
    //  }
    //}

    //&.media-type {
    //  > li.calls {
    //    > a {
    //      &:before {
    //        background-image: url('../../img/icons/phone.png');
    //      }
    //    }
    //  }
    //
    //  > li.email {
    //    > a {
    //      &:before {
    //        background-image: url('../../img/icons/email.png');
    //      }
    //    }
    //  }
    //
    //  > li.sms {
    //    > a {
    //      &:before {
    //        background-image: url('../../img/icons/sms.png');
    //      }
    //    }
    //  }
    //}
  }

  > h4 {
    text-transform: uppercase;
    font-size: 1.2em;
    padding-left: 8px;
    font-weight: bold;
  }

  > hr {
    background-color: #ffffff;
    margin-top: 40px;
  }
}

#console {
  padding: 2rem 1rem;

  #recipients-list {

    .row {
      cursor: pointer;
      background-color: #ffffff !important;
      height: 40px;
      line-height: 40px;
      text-align: center;
      border: none;
      margin-bottom: 4px;

      @include media-breakpoint-up(lg) {
        height: 56px;
        line-height: 56px;
      }
    }
  }

  .input-group {
    .input-group-prepend {
      position: relative;
      top: 28px;
      left: 15px;
      color: #67A6CC;
      width: 24px;
      height: 24px;
    }

    input.form-control {
      border-color: #67A6CC;
      padding-left: 45px;
      border-width: 2px;
      border-radius: 10px;
    }
  }

  a.icon {
    display: inline-block;
    text-align: center;

    > img {
      width: 25px;
      object-fit: contain;
    }
  }
}
