@import './../common/index';
@import "./communication-side-panel";
@import './../components/spinner-icon';

#sidebar-nav-content {
  padding: 2rem 1rem;

  ul {
    list-style: none;
    padding: 0;
    margin: 0;

    li {
      margin-bottom: 5px;
    }

    a {
      text-decoration: none;
      color: #fff;
      padding: 10px 8px;
      display: block;
      line-height: 1.4em;

      &.active {
        background-color: rgba(255, 255, 255, 0.1);
      }

      > i {
        display: inline;
        padding-left: 4px;
        margin-right: 10px;
        font-size: 1.4em;
      }

      > .counter {
        float: right;
        background-color: #ffffff;
        border-radius: 6px;
        color: #67A6CC;
        min-width: 30px;
        text-align: center;
        font-weight: bold;
      }
    }
  }

  > h4 {
    text-transform: uppercase;
    font-size: 1.2em;
    padding-left: 8px;
    font-weight: bold;
    color: #ffffff;
  }

  > hr {
    background-color: #ffffff;
    margin-top: 40px;
  }
}

#console {
  padding: 2rem 1rem;

  .toggle-sidebar {
    display: inline-flex;

    @include media-breakpoint-up(xl) {
      display: none;
    }
  }

  #recipients-list {

    .row {
      cursor: pointer;
      background-color: #ffffff !important;
      height: 40px;
      line-height: 40px;
      text-align: center;
      border: none;
      margin-bottom: 4px;

      @include media-breakpoint-up(lg) {
        height: 56px;
        line-height: 56px;
      }

      .name-wrapper {
        &.half {
          height: 50%;
          line-height: 28px;
        }
      }

      .label-wrapper {
        &.half {
          height: 50%;
          line-height: 28px;
        }

        > span {
          font-size: 12px;
          color: #808080;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
    }
  }

  .input-group {
    .input-group-prepend {
      position: relative;
      top: 28px;
      left: 15px;
      color: #67A6CC;
      width: 24px;
      height: 24px;
    }
  }

  a.icon {
    display: inline-block;
    text-align: center;

    > img {
      width: 25px;
      object-fit: contain;
    }
  }

  /* Clearable text inputs */
  .search-wrapper {
    height: 28px;

    .clearable {

      > input[type=text] {
        padding-right: 24px;
        width: 100%;
        box-sizing: border-box;
      }

      > .clearable__clear {
        font-style: normal;
        font-size: 1.4em;
        user-select: none;
        cursor: pointer;
        position: relative;
        float: right;
        right: 10px;
        vertical-align: middle;
        bottom: 30px;
        display: none;

        &.show {
          display: inline-block;
        }
      }
    }
  }

  .loader-spinner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    background-color: rgba(255, 255, 255, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@include media-breakpoint-up(sm) {
  .main-content-container {
    .main-content {
      .sidebar-toggler {
        visibility: hidden;
        display: none;
      }
    }
  }
}

@media (max-width: 1200px) {
  #sidebar {
    .sidebar-wrapper {
      margin-top: 20px;
    }
  }
}