@import "../../../../sass/variables";
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

.edit-campaign-phone--container {
    .table {
        width: 100%;
        margin-top: 30px;
        thead td {
            font-size: 0.8rem;
        }
        tbody td .btn-pm {
            width: auto;
            svg {
                color: #fff;
            }
        }
        td {
            width: 25%;
            padding-right: 30px;
            &:last-child {
                padding-right: 0;
            }
        }
    }
}
