@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
@import '../../../sass/variables';
@import '../../../sass/mixins';

.wrapper-component {
    height: 100%;
    position: relative;
    overflow-x: hidden;

    .wrapper-sidebar-controls {
        padding: 10px 0;
        transition: transform .3s ease-in-out, width .3s ease-in-out;

        &-toggle {
            padding: 5px 15px;
            display: inline-block;
            background-color: #fff;
            border-radius: 0 5px 5px 0;
            color: $brand-purple;
        }

        @include media-breakpoint-up(lg) {
            display: none;
        }
    }

    .wrapper-sidebar {
        padding: 20px;
        overflow-y: scroll;
        color: #fff;
        transform: translateX(-100%);
        height: calc(100vh - 50px - #{$top-navigation-bar-height});
        position: absolute;
        top: 0;
        left: 0;
        z-index: 100;
        width: $wrapper-sidebar-width;
        transition: transform .3s ease-in-out, width .3s ease-in-out;
        @include background_gradient($brand-purple, $brand-blue, $brand-purple);

        &-navigation {
            list-style: none;
            padding: 0;
            margin: 0;

            ul {
                list-style: none;
                padding: 0;
                margin: 0;

                li {
                    margin-bottom: 15px;
                }

                a {
                    padding: 12px;
                    border: none;
                    background-color: transparent;
                    outline: none;
                    cursor: pointer;
                    border-radius: 5px;
                    display: flex;
                    align-items: center;
                    color: $brand-white;
                    text-decoration: none;
                    text-transform: uppercase;

                    [class^="pm-font-"], [class*=" pm-font-"] {
                        font-size: 1.5rem;
                        width: 40px;
                    }

                    &.active {
                        background-color: $brand-white;
                        color: $brand-purple;
                    }
                }
            }
        }

        &-close-control {
            @include media-breakpoint-up(lg) {
                display: none;
            }
        }

        @include media-breakpoint-up(lg) {
            transform: translateX(0);
            height: calc(100vh - #{$top-navigation-bar-height});
        }
    }

    .wrapper-content {
        overflow-y: scroll;
        padding: 10px 20px;
        height: calc(100vh - #{$top-navigation-bar-height});
        transform: translate(0, 0);
        transition: transform .3s ease-in-out, margin .3s ease-in-out;
        @include media-breakpoint-up(lg) {
            margin-left: $wrapper-sidebar-width;
        }
    }

    &:not(.has-sidebar) {
        .wrapper--sidebar-controls, .wrapper-sidebar {
            display: none;
        }
    }

    &.open.has-sidebar {
        .wrapper-sidebar {
            transform: translate(0, 0);
        }

        .wrapper-content, .wrapper-sidebar-controls {
            transform: translate($wrapper-sidebar-width, 0);
        }
    }
}
