@import './../common/index';
@import './../components/pm-responsive-table';
@import './../components/pm-pagination';
@import './../components/companies';

#company-index {
  padding: 2rem 1rem;
  .company-image {
    background-size: cover;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-position: 50% 50%;
    margin-right: 1rem;
    margin-left: 1rem;
  }
  .company-name {
    font-weight: bold;
  }
  .company-icon {
    font-size: 3rem;
    color: #fff;
  }
  .loader-spinner {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 100;
      background-color: rgba(255, 255, 255, 0.2);
      display: flex;
      align-items: center;
      justify-content: center;
  }
  .company-group-label {
      font-size: 1.4rem;
      font-weight: bold;
      margin-top: 2rem;
      margin-bottom: 1rem;
  }
  .pm-pagination {
      margin-bottom: 2rem;
  }
  @include media-breakpoint-up(lg) {
      padding: 10px 30px 20px 30px;
  }
  .close {
      background-color: transparent;
      border: 0;
      cursor: pointer;
      font-size: 1.6em;
  }
}
