@import "../../../../sass/variables";
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

.wrapper--user-view {
  .pmt-col.manager {
    border-radius: 5px;
    @include media-breakpoint-up(lg) {
      border-radius: 5px 0 0 5px;
    }
  }
  .filter--v-select.v-select .vs__selected-options {
    border-top: 1px solid $brand-black;
    border-right: 1px solid $brand-black;
    border-bottom: 1px solid $brand-black;
  }
  .card-header ul li a {
    @include media-breakpoint-up(md) {
      width: 200px;
    }
    @include media-breakpoint-up(lg) {
      width: 250px;
    }
    @include media-breakpoint-up(xl) {
      width: 300px;
    }
  }
  .wrapper-sidebar {
    .btn-remove {
      float: right;
      margin-right: 40px;
      margin-top: 20px;
      svg {
        height: 17px;
        width: 17px;
      }
    }
    .user-avatar {
      background-color: #fff;
      clear: both;
      padding: 20px;
      width: 150px;
      height: 150px;
      border-radius: 50%;
      margin: 0 auto 60px auto;
      position: relative;
      .btn {
        color: $brand-purple;
        position: absolute;
        top: 6px;
        right: 4px;
        background-color: #fff;
        border-radius: 50%;
        font-size: 1.4rem;
        border: 2px solid $brand-purple;
        height: 40px;
        width: 40px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
}
//
.pmt-label {
  font-size: 0.8rem;
  font-weight: 300;
}
//.pmt-input-group-prepend {
//  display: flex;
//  flex-flow: row;
//  .form-control {
//    border-radius: 0;
//    background-color: #fff;
//    border: none;
//    color: $brand-black;
//    height: 32px;
//    font-weight: 300;
//  }
//  .input-group-prepend {
//    height: 32px;
//    padding: 0 5px 0 10px;
//    display: flex;
//    align-items: center;
//    justify-content: center;
//    svg {
//      height: 18px;
//    }
//  }
//}