@import './../common/index';
@import './../components/spinner-icon';

#check-in {
    padding-top: 2rem;
    padding-bottom: 2rem;

    .pm-btn-submit {
        span {
            margin: 0;
        }
    }

    .loader-spinner {
        .sk-circle {
            margin: 0;
            width: 15px;
            height: 15px;
            .sk-child:before {
                background-color: #fff;
            }
        }
    }
}
