@import '../../../sass/variables';
@import '../../../sass/mixins';
//@import "~bootstrap/scss/functions";
//@import "~bootstrap/scss/variables";
//@import "~bootstrap/scss/mixins";

#app.navbar-menu-open {
  .main-content-container {
    transform: translateX($sidebar-width);
  }
}
.top-navigation-bar {
  background-color: #fff;
  width: 100%;
  height: 100%;
  text-align: center;
  padding: 0;
  .sidebar-toggle, .top-navbar-toggle {
    background-color: transparent;
    background-image: none;
    padding: 5px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin: 12px;
    border: none;
    box-shadow: none;
    outline: none;
    svg {
      width: 24px;
      color: $brand-black;
    }
  }
  .navbar-brand {
    height: $top-navbar-height;
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }
  .navbar-menu {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: $sidebar-width;
    transform: translateX(-100%);
    transition: transform .3s ease-in-out, width .3s ease-in-out;
    @include background_gradient($brand-purple, $brand-blue, $brand-purple);
    li {
      padding-right: 30px;
      padding-left: 30px;
      margin-bottom: 10px;
    }
    .pm-logo-reversed {
      margin: 30px;
      img {
        height: 100px;
      }
    }
    a.nav-link {
      padding: 12px;
      border: none;
      background-color: transparent;
      outline: none;
      cursor: pointer;
      border-radius: 5px;
      display: flex;
      align-items: center;
      color: $brand-white;
      text-decoration: none;
      text-transform: uppercase;
      &.active, &:hover {
        background-color: $brand-white;
        color: $brand-purple;
      }
    }
    .pm-font-companies-icon {
      font-size: 1.25rem !important;
    }

    [class^="pm-font-"], [class*=" pm-font-"] {
      font-size: 1.5rem;
      width: 40px;
    }
  }
  .navbar-menu-extra {
    .profile {
      img {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        margin-right: 10px;
        margin-top: -2px;
      }
    }
    .nav-link {
      color: $brand-purple;
      span:first-child {
        display: inline-block;
        width: 30px;
      }
      span:last-child {
        width: 100px;
        text-align: left;
        display: inline-block;
      }
    }
  }
  .sidebar-toggle {
    float: left;
  }
  .top-navbar-toggle {
    float: right;
  }
  #top-navbar {
    background-color: #fff;
  }
  //    .navbar-menu {
  //        position: fixed;
  //        top: 0;
  //        left: 0;
  //        width: 300px;
  //        min-height: 100vh;
  //        background-color: #fff;
  //        padding: 30px 0;
  //        z-index: 1000;
  //        transform: translateX(-100%);
  //        transition: transform .3s ease-in-out, width .3s ease-in-out;
  //        @include background_gradient($brand-purple, $brand-blue, $brand-purple);
  //
  //        .nav {
  //            list-style: none;
  //            margin: 0;
  //            padding: 0;
  //
  //            li {
  //                padding-right: 30px;
  //                padding-left: 30px;
  //                margin-bottom: 10px;
  //
  //                a {
  //                    padding: 12px;
  //                    border: none;
  //                    background-color: transparent;
  //                    outline: none;
  //                    cursor: pointer;
  //                    border-radius: 5px;
  //                    display: flex;
  //                    align-items: center;
  //                    color: $brand-white;
  //                    text-decoration: none;
  //                    text-transform: uppercase;
  //
  //                    [class^="pm-font-"], [class*=" pm-font-"] {
  //                        font-size: 1.5rem;
  //                        width: 40px;
  //
  //                        @include media-breakpoint-up(lg) {
  //                            width: auto;
  //                            font-size: 1rem;
  //                        }
  //                    }
  //
  //                    .pm-font-companies-icon {
  //                        font-size: 1.25rem;
  //
  //                        @include media-breakpoint-up(lg) {
  //                            font-size: 1rem;
  //                        }
  //                    }
  //
  //                    span {
  //                        @include media-breakpoint-up(lg) {
  //                            font-size: 0.6rem;
  //                            text-transform: initial;
  //                        }
  //                    }
  //
  //                    &.active {
  //                        background-color: $brand-white;
  //                        color: $brand-purple;
  //                    }
  //
  //                    @include media-breakpoint-up(lg) {
  //                        background-color: transparent !important;
  //                        display: flex;
  //                        flex-flow: column;
  //                        padding: 0;
  //                        height: $top-navigation-bar-height;
  //                        color: $brand-purple;
  //                        align-items: center;
  //                        justify-content: center;
  //                    }
  //                }
  //
  //                @include media-breakpoint-up(lg) {
  //                    padding: 0 15px;
  //                    margin: 0;
  //                    float: left;
  //                }
  //            }
  //        }
  //
  //        .logo-reversed {
  //            height: 70px;
  //            width: auto;
  //            display: block;
  //            margin: 0 auto 50px auto;
  //
  //            @include media-breakpoint-up(lg) {
  //                display: none;
  //            }
  //        }
  //
  //        &-close-control {
  //            position: absolute;
  //            top: 15px;
  //            right: 15px;
  //            cursor: pointer;
  //            color: #fff;
  //            @include media-breakpoint-up(lg) {
  //                display: none;
  //            }
  //        }
  //
  //        @include media-breakpoint-up(lg) {
  //            min-height: auto;
  //            width: auto;
  //            transform: unset;
  //            display: inline-block;
  //            padding: 0;
  //            margin-left: 200px;
  //            background: transparent;
  //        }
  //    }
  //
  //    .navbar-menu-extra {
  //        float: right;
  //
  //        .nav {
  //            list-style: none;
  //            margin: 0;
  //            padding: 0;
  //
  //            li {
  //                padding-right: 5px;
  //                padding-left: 5px;
  //                float: left;
  //
  //                .btn.btn-link {
  //                    text-decoration: none;
  //                    padding: 8px;
  //                    display: flex;
  //                    align-items: center;
  //                    color: $brand-purple;
  //                    height: $top-navigation-bar-height;
  //
  //                    svg {
  //                        height: 15px;
  //                        width: 15px;
  //                    }
  //                }
  //            }
  //        }
  //
  //        .menu-item-profile {
  //            .btn.btn-link {
  //                line-height: 24px;
  //                padding-top: 8px;
  //                color: $gray;
  //                text-decoration: none;
  //            }
  //
  //            img {
  //                float: right;
  //                width: 30px;
  //                height: 30px;
  //                border-radius: 50%;
  //                margin-left: 10px;
  //                margin-top: -2px;
  //            }
  //        }
  //    }
  //
  //    &.open {
  //        .navbar-menu {
  //            transform: translateX(0);
  //        }
  //    }
}