@import '../../../sass/variables';
@import '../../../sass/mixins';
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";


.top-navigation-bar {
  background-color: #fff;
  width: 100%;
  .sidebar-toggle {
    background-color: transparent;
    background-image: none;
    height: $top-navigation-bar-height;
    padding: 10px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    svg {
      width: 24px;
      height: 40px;
      color: $gray;
    }
  }
  .logo {
    display: inline-flex;
    align-items: center;
    height: $top-navigation-bar-height;
    justify-content: center;
    padding: 10px;
    img {
      height: 40px;
    }
  }
  .navbar-menu {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;
    background-color: #fff;
    padding: 30px 0;
    z-index: 1000;
    transform: translateX(-100%);
    transition: transform .3s ease-in-out,width .3s ease-in-out;
    @include background_gradient($brand-purple, $brand-blue, $brand-purple);
    .nav {
      list-style: none;
      margin: 0;
      padding: 0;
      li {
        padding-right: 30px;
        padding-left: 30px;
        margin-bottom: 10px;
        a {
          padding: 12px;
          border: none;
          background-color: transparent;
          outline: none;
          cursor: pointer;
          border-radius: 5px;
          display: flex;
          align-items: center;
          color: $brand-white;
          text-decoration: none;
          text-transform: uppercase;
          svg {
            width: 60px;
          }
          &.active {
            background-color: $brand-white;
            color: $brand-purple;
          }
        }
      }
    }
    .logo-reversed {
      height: 70px;
      width: auto;
      display: block;
      margin: 0 auto;
      margin-bottom: 50px;
    }
  }
  .navbar-menu-extra {
    float: right;
    .nav {
      list-style: none;
      margin: 0;
      padding: 0;
      li {
        padding-right: 10px;
        padding-left: 10px;
        float: left;
        .btn.btn-link {
          padding: 8px;
          display: flex;
          align-items: center;
          color: $brand-purple;
          height: $top-navigation-bar-height;
          svg {
            height: 15px;
            width: 15px;
          }
        }
      }
    }
    .menu-item-profile {
      .btn.btn-link {
        line-height: 24px;
        padding-top: 8px;
        color: $gray;
        text-decoration: none;
      }
      img {
        float: right;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        margin-left: 10px;
        margin-top: -2px;
      }
    }
  }
  &.open {
    .navbar-menu {
      transform: translateX(0);
    }
  }
}