@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700');

body, html {
    height: 100%;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 14px;
    color: $gray;
}

body {
    background-color: $brand-white;
}

#app {
    height: 100%;
    overflow-x: hidden;

    &.no-sidebar {
        .main-content-container {
            margin-left: 0;
        }
    }
}

.page-title {
    font-size: 1.8rem;
}

.main-content-container {
    height: 100%;
    transition: margin .3s ease-in-out, transform .3s ease-in-out, width .3s ease-in-out;

    @include media-breakpoint-up(xl) {
        margin-left: $sidebar-width;
    }
}

.main-content {
    height: calc(100vh - #{$top-navbar-height});
    overflow-y: auto;
}

.no-items-row {
    padding: 10px 20px;
    background-color: #fff;
    text-align: center;
    border-radius: 5px;
}

.table-loader-spinner {
    position: absolute !important;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    background-color: rgba(255, 255, 255, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
}

.cursor-pointer {
    cursor: pointer;
}

[v-cloak] { display: none; }
[v-cloak]::before { content: "loading..."; }

.swal2-container {
    z-index: 2001 !important;
}
