@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700');

body, html {
    height: 100%;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 14px;
    color: $gray;
}

body {
    background-color: $brand-white;
}

#app {
    height: 100%;
    overflow-x: hidden;

    &.no-sidebar {
        .main-content-container {
            margin-left: 0;
        }
    }
}

.main-content-container {
    height: 100%;
    transition: margin .3s ease-in-out, transform .3s ease-in-out, width .3s ease-in-out;

    @include media-breakpoint-up(xl) {
        margin-left: $sidebar-width;
    }
}

.main-content {
    height: calc(100vh - #{$top-navbar-height});
    overflow-y: scroll;
}

.no-items-row {
    padding: 10px 20px;
    background-color: #fff;
    text-align: center;
    border-radius: 5px;
}

[v-cloak] { display: none; }
[v-cloak]::before { content: "loading..."; }
