@font-face {
    font-family: 'pm-font';
    src:  url('/fonts/pm-font.eot?ofq1o5');
    src:  url('/fonts/pm-font.eot?ofq1o5#iefix') format('embedded-opentype'),
    url('/fonts/pm-font.ttf?ofq1o5') format('truetype'),
    url('/fonts/pm-font.woff?ofq1o5') format('woff'),
    url('/fonts/pm-font.svg?ofq1o5#pm-font') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="pm-font-"], [class*=" pm-font-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'pm-font' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.pm-font-notification-icon:before {
    content: "\e901";
}
.pm-font-phone-icon:before {
    content: "\e902";
}
.pm-font-recipients-icon:before {
    content: "\e903";
}
.pm-font-responses-icon:before {
    content: "\e904";
}
.pm-font-sms-icon:before {
    content: "\e905";
}
.pm-font-stats-icon:before {
    content: "\e906";
}
.pm-font-system-icon:before {
    content: "\e907";
}
.pm-font-tag-icon:before {
    content: "\e908";
}
.pm-font-templates-icon:before {
    content: "\e909";
}
.pm-font-unread-icon:before {
    content: "\e90a";
}
.pm-font-user-icon:before {
    content: "\e900";
}
.pm-font-edit-icon:before {
    content: "\e90b";
}
.pm-font-folder-icon:before {
    content: "\e90c";
}
.pm-font-help-icon:before {
    content: "\e90d";
}
.pm-font-idle-icon:before {
    content: "\e90e";
}
.pm-font-mail-icon:before {
    content: "\e90f";
}
.pm-font-dealer-db-icon:before {
    content: "\e910";
}
.pm-font-drops-icon:before {
    content: "\e911";
}
.pm-font-all-icon:before {
    content: "\e912";
}
.pm-font-campaigns-icon:before {
    content: "\e913";
}
.pm-font-companies-icon:before {
    content: "\e914";
}
.pm-font-date-icon:before {
    content: "\e915";
}
