.pm-btn {
    font-size: 0.8rem;
    display: inline-flex;
    align-items: center;
    padding: 0.5rem 1rem;
    line-height: 1em;

    svg {
        height: 15px;
        width: 15px;
    }

    span {
        margin-left: 5px;
    }

    &-md {
        font-size: 1rem;
        padding: 0.5rem 1.5rem;
    }

    &-blue {
        @include button-variant($brand-blue, $brand-blue);
        color: #fff !important;
    }

    &-purple {
        @include button-variant($brand-purple, $brand-purple);
        color: #fff !important;
    }

    &-danger {
        @include button-variant($red, $red);
        color: #fff !important;
    }
}

.pm-btn-link {
    border: none;
    background-color: transparent;

    &-danger {
        color: $red;

        &:hover {
            color: darken($red, 15%);
        }
    }

    &-green {
        color: $green;

        &:hover {
            color: darken($green, 15%);
        }
    }

    &-blue {
        color: $blue;

        &:hover {
            color: darken($blue, 15%);
        }
    }

    &-warning {
        color: $orange;

        &:hover {
            color: darken($orange, 15%);
        }
    }
}
