.pm-btn {
    font-size: 0.8rem;
    display: inline-flex;
    align-items: center;
    padding: 0.5rem 1rem;
    line-height: 1em;
    cursor: pointer;

    svg {
        height: 15px;
        width: 15px;
    }

    span {
        margin-left: 5px;
    }

    &-md {
        font-size: 1rem;
        padding: 0.5rem 1.5rem;
    }

    &-blue {
        @include button-variant($brand-blue, $brand-blue);
        color: #fff !important;
    }

    &-outline-blue {
        @include button-variant($brand-blue, $brand-blue);
        color: $brand-blue;
        background-color: transparent;
        border: 1px solid $brand-blue;
        &:hover {
            background-color: $brand-blue;
            color: #fff;
            border: 1px solid #fff;
        }
    }


    &-purple {
        @include button-variant($brand-purple, $brand-purple);
        color: #fff !important;
    }

    &-outline-purple {
        @include button-variant($brand-purple, $brand-purple);
        color: $brand-purple;
        background-color: transparent;
        border: 1px solid $brand-purple;
        &:hover {
            background-color: $brand-purple;
            color: #fff !important;
            border: 1px solid #fff;
        }
    }

    &-danger {
        @include button-variant($red, $red);
        color: #fff !important;
    }

    &-black {
        @include button-variant($brand-black, $brand-black);
        color: #fff !important;
    }

    &-green {
        @include button-variant($green, $green);
        color: #fff !important;
    }
}

.pm-btn-link {
    border: none;
    background-color: transparent;

    &-danger {
        color: $red;

        &:hover {
            color: darken($red, 15%);
        }
    }

    &-green {
        color: $green;

        &:hover {
            color: darken($green, 15%);
        }
    }

    &-blue {
        color: $blue;

        &:hover {
            color: darken($blue, 15%);
        }
    }

    &-warning {
        color: $orange;

        &:hover {
            color: darken($orange, 15%);
        }
    }

    &-black {
        color: $brand-black;

        &:hover {
            color: darken ($brand-black, 15%);
        }
    }
}
