#app.navbar-menu-open {
    .main-content-container {
        transform: translateX($sidebar-width);
    }
}

#app.navbar-side-menu-fix {
    .navbar-menu {
        transition: none;
        transform: translateX(-200%);
    }
}

.top-navbar {
    height: $top-navbar-height-mobile;

    .user-name {
        line-height: 1em;
        text-align: left;
    }

    @include media-breakpoint-up(sm) {
        height: $top-navbar-height;
    }
}

.top-navigation-bar {
    background-color: #fff;
    width: 100%;
    height: 100%;
    padding: 0;

    .navbar-brand {
        height: $top-navbar-height;
        margin: 0;
        display: inline-flex;
        align-items: center;
        justify-content: center;

        @include media-breakpoint-down(md) {
            height: $top-navbar-height-mobile;
        }
    }

    .navbar-menu {
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        display: block;
        width: $sidebar-width;
        transform: translateX(-100%);
        transition: transform .3s ease-in-out, width .3s ease-in-out;
        @include background_gradient($brand-purple, $brand-blue, $brand-purple);

        li {
            padding-right: 30px;
            padding-left: 30px;
            margin-bottom: 10px;
        }

        .pm-logo-reversed {
            margin: 30px;

            img {
                height: 100px;
            }
        }

        a.nav-link {
            padding: 12px;
            border: none;
            background-color: transparent;
            outline: none;
            cursor: pointer;
            border-radius: 5px;
            display: flex;
            height: 100%;
            align-items: center;
            color: $brand-white;
            text-decoration: none;
            text-transform: uppercase;

            &.active, &:hover {
                background-color: $brand-white;
                color: $brand-purple;
            }
        }

        .pm-font-companies-icon {
            font-size: 1.25rem !important;
        }

        [class^="pm-font-"], [class*=" pm-font-"] {
            font-size: 1.5rem;
            width: 40px;
        }

        @include media-breakpoint-up(md) {
            position: static;
            width: auto;
            flex-flow: row;
            background: transparent;
            display: flex;
            flex-flow: row;
            transform: none;
            .nav-item {
                margin: 0;
                width: auto;
                flex-grow: 0;
                padding: 0 10px;
            }
            a.nav-link {
                background-color: transparent;
                color: $brand-purple;
                line-height: 1em;
                padding: 0;
                display: inline-flex;
                flex-flow: column;
                font-size: .65rem;
                //height: $top-navbar-height;
                //
                //  @include media-breakpoint-down(md) {
                //      height: $top-navbar-height-mobile;
                //  }
                align-items: center;
                justify-content: center;

                &.active, &:hover {
                    color: $brand-black;
                    background: transparent;
                }

                [class^="pm-font-"], [class*=" pm-font-"], .fas {
                    font-size: .85rem;
                    width: auto;
                    margin-bottom: 5px;
                }

                .pm-font-companies-icon {
                    font-size: 0.9rem !important;
                }
            }
        }
    }

    .navbar-menu-extra {
        .profile {
            flex-shrink: 0;

            img {
                width: 30px;
                height: 30px;
                border-radius: 50%;
                margin-right: 10px;
                margin-top: -2px;
            }

            .avatar-placeholder {
                width: 30px;
                height: 30px;
                border-radius: 50%;
                margin-right: 10px;
                margin-top: -2px;
                display: inline-flex;
                align-items: center;
                justify-content: center;
                background-color: $brand-white;
                color: $brand-purple !important;
            }
        }

        .nav-link {
            color: $brand-purple;
            text-align: center;

            span:first-child {
                display: inline-block;
                width: 30px;
            }

            span:last-child {
                width: 100px;
                text-align: left;
                display: inline-block;
            }

            &:hover, &:focus {
                color: $brand-black;
            }

            @include media-breakpoint-up(sm) {
                height: $top-navbar-height;
                padding: 10px;
                margin: 0 10px;
                display: inline-flex;
                align-items: center;
                justify-content: center;
                span:first-child {
                    width: auto;
                    height: auto;
                    line-height: 1em;
                }
                span:last-child {
                    width: auto;
                }
            }
        }
    }

    .sidebar-toggle, .top-navbar-toggle {
        background-color: transparent;
        background-image: none;
        padding: 5px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        margin: 12px;
        border: none;
        box-shadow: none;
        outline: none !important;

        svg {
            width: 24px;
            color: $brand-black;
        }
    }

    #top-navbar {
        background-color: #fff;
        z-index: 100;
    }
}
