@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
@import '../../../sass/variables';

.list-company-container {
  padding: 20px 20px 40px 20px;
  .company-resume {
    &--container {
      padding-top: 10px;
      padding-bottom: 10px;
      display: flex;
      flex-flow: row;
      align-items: stretch;
      flex-grow: 1;
    }
    &--image {
      display: flex;
      align-items: center;
      justify-content: center;
      flex: 2;
      margin-right: 10px;
    }
    &--title {
      display: flex;
      flex-flow: column;
      flex: 6;
      font-size: 1rem;
      span {
        font-weight: 300;
        margin-top: 5px;
      }
    }
    @include media-breakpoint-up(lg) {
      width: 40%;
    }
  }
  .company-role {
    &--container {
      padding: 10px 60px;
      width: 100%;
      .filter--v-select {
        width: 100%;
      }
      @include media-breakpoint-up(lg) {
        padding: 0 15px;
      }
    }
    @include media-breakpoint-up(lg) {
      width: 25%;
    }
  }
  .company-phone {
    &--container {
      padding-top: 10px;
      padding-bottom: 10px;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
      i {
        font-size: 1.6rem;
        margin-right: 10px;
        display: inline-block;
      }
      @include media-breakpoint-up(lg) {
        padding: 0;
      }
    }
    @include media-breakpoint-up(lg) {
      width: 15%;
    }
  }
  .company-stats {
    &--container {
      padding-top: 10px;
      padding-bottom: 10px;
      display: flex;
      flex-flow: row;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      i {
        font-size: 1.6rem;
        margin-right: 10px;
        display: inline-block;
      }
      @include media-breakpoint-up(lg) {
        padding: 0;
      }
    }
    &--label {
      width: 100%;
      text-align: center;
      margin-bottom: 5px;
    }
    .badge {
      background-color: $brand-blue;
      color: #fff;
      height: 25px;
      display: flex;
      margin-right: 10px;
      font-weight: 300;
      width: 25px;
      align-items: center;
      font-size: 1.2rem;
      justify-content: center;
    }
    @include media-breakpoint-up(lg) {
      width: 25%;
    }
  }
}
