@import "../../../../sass/variables";
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

$aside-width: 400px;

.campaign-drops--container {
  margin-bottom: 40px;
  .drop-recipients-count {
    text-align: center;
    span {
      margin-left: 10px;
    }
    @include media-breakpoint-up(lg) {
      width: 30%;
    }
  }
  .drop-type{
    padding: 0 !important;
    &--container {
      width: 100%;
      display: flex;
      flex-flow: row;
    }
    &--icon {
      width: 60px;
      padding: 15px;
      display: flex;
      align-items: center;
      justify-content: center;
      svg {
        height: 1.5rem;
      }
    }
    &--date {
      flex-grow: 1;
      color: $gray;
      padding: 15px;
      text-align: center;
      span {
        line-height: 1em;
        margin-left: 10px;
      }
    }
    @include media-breakpoint-up(lg) {
      width: 40%;
    }
  }
  .drop-status {
    @include media-breakpoint-up(lg) {
      width: 20%;
      .drop-status-component {
        width: 140px;
        margin: 0 auto;
      }
    }
  }
  .drop-options {
    @include media-breakpoint-up(lg) {
      width: 90px;
    }
  }
  .pmt-row:nth-child(odd) .drop-type--date {
    background-color: rgb(240, 242, 243);
  }
  .pmt-row:nth-child(even) .drop-type--date {
    background-color: rgb(225, 229, 232);
  }
}
