@import "../../../../sass/variables";
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

.campaign-edit--tabs {
    .card-header ul li a {
        @include media-breakpoint-up(md) {
            width: 150px;
        }
        @include media-breakpoint-up(lg) {
            width: 200px;
        }
        @include media-breakpoint-up(xl) {
            width: 250px;
        }
    }
}
