@import "../../../../sass/variables";
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

$aside-width: 300px;

.wrapper--campaign-view {
    flex-grow: 1;
    background-color: $brand-white;


    .wrapper-content {
        padding: 50px 10px 10px 10px;
        transform: translate(0, 0);
        transition: transform .3s ease-in-out, margin .3s ease-in-out;

        @include media-breakpoint-up(xl) {
            padding: 50px 30px 20px 30px;
            transform: none !important;
            margin-left: $aside-width;
        }
    }

    &.open {
        .wrapper-aside {
            transform: translate(0, 0);
        }

        .wrapper-content {
            transform: translate(100%, 0);
            @include media-breakpoint-up(sm) {
                transform: translate(450px, 0);
            }
        }
    }
}
