@import "../../../../sass/variables";
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

$aside-width: 300px;

.wrapper--campaign-view {
    flex-grow: 1;
    .company-data {
        padding: 15px;
        display: flex;
        flex-flow: column;
        align-items: center;
        > div {
            margin-bottom: 0.8rem;
        }
    }
    .company-avatar {
        width: 140px;
        height: 140px;
        background-color: #fafafa;
        border-radius: 50%;
        margin-bottom: 1.5rem;
    }
    .campaign-name {
        font-size: 1.6rem;
        margin-bottom: 1rem;
        font-weight: bold;
    }
    .company-phone, .company-email {
        font-size: 0.9rem;
    }
}
