@import './../common/index';
@import './../components/spinner-icon';
@import './../components/status';
@import './../components/media-template';
@import './../components/pm-pagination';

#template-details {
    p.form-control {
        background-color: transparent;
        border: 0;
        border-bottom: 1px solid #528;
        height: auto;
        line-height: 1rem;
        padding-left: 0;
    }
    .align-items-end {
        text-align: right;
    }
    .align-items-center {
        text-align: center;
    }
    .editable {
        padding: 4px 8px;
        &:hover {
            padding: 3px 7px;
            border: 1px solid #ddd;
            cursor: text;
        }
    }
    h1 {
        color: $brand-purple;
        input {
            color: $brand-purple;
            font-size: 2.25rem;
            font-weight: bold;
            height: 3.5rem;
            padding: .5rem;
        }
    }
    .variable-button {
        margin: 2px;
        padding: 1px 6px;
    }
    .template-field {
        @include media-breakpoint-up(md) {
            text-align: right
        }
    }
    .template-name {
        border-left: 3px solid $brand-purple;
    }
    .card-header {
        padding: 2px 0px 2px 12px;
        p {
            margin-bottom: 0;
        }
    }
}
