@import './../common/index';
@import './../components/spinner-icon';
@import './../components/status';
@import './../components/media-template';
@import './../components/pm-pagination';

#template-index {
    .loader-spinner {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 100;
        background-color: rgba(255, 255, 255, 0.2);
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .media-template-group-label {
        font-size: 1.4rem;
        font-weight: bold;
        margin-top: 2rem;
        margin-bottom: 1rem;
    }
    .pm-pagination {
        margin-bottom: 2rem;
    }
    @include media-breakpoint-up(lg) {
        padding: 10px 30px 20px 30px;
    }
    .close {
        background-color: transparent;
        border: 0;
        cursor: pointer;
        font-size: 1.6em;
    }
    .add-template-buttons {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        .btn {
            background-color: $brand-purple;
            color: #fff;
            font-size: large;
            margin-bottom: 6px;
            min-height: 60px;
            text-align: left;
            padding-left: 1.8em;
            &:hover {
                box-shadow: 0px 0px 8px rgb(129, 129, 129);
            }
            display: inline-flex;
            justify-content: left;
            align-items: center;
        }
    }
}
